/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 768px) {
  html body .fs_section:-webkit-full-screen .wrapper {
    height: 100%;
  }
  html body .fs_section:-webkit-full-screen .wrapper .panel-support-mobile {
    height: 23%;
    width: 100%;
    position: absolute;
    top: 78%;
  }
  html body .fs_section:-webkit-full-screen .wrapper .panel-support-mobile .inner {
    height: 23%;
    width: 100%;
    border-top: 1px solid #3d3d3d;
    background: #292929;
    z-index: 133;
    position: fixed;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel .carousel-control.left {
    left: 5%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel .carousel-control.right {
    right: 5%;
  }
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 100%;
  }
  html body .fs_section:-webkit-full-screen .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .img-responsive,
  html body .fs_section:-webkit-full-screen .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .thumbnail > img {
    max-height: 75%;
  }
  html body .fs_section:-webkit-full-screen .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .img-responsive,
  html body .fs_section:-webkit-full-screen .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .thumbnail > img {
    max-width: 86%;
  }
}
@media (min-width: 768px) {
  html body .fs_section:-webkit-full-screen .navbar .header .wrapper {
    width: 100%;
  }
  html body .fs_section:-webkit-full-screen .wrapper {
    height: 91%;
  }
  html body .fs_section:-webkit-full-screen .wrapper .panel-support-mobile {
    height: 23%;
    width: 100%;
    position: absolute;
    top: 77%;
  }
  html body .fs_section:-webkit-full-screen .wrapper .panel-support-mobile .inner {
    height: 10%;
    width: 100%;
    border-top: 1px solid #3d3d3d;
    background: #292929;
    z-index: 133;
    position: fixed;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel .carousel-control.left {
    left: 10%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel .carousel-control.right {
    right: 10%;
  }
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 100%;
  }
  html body .carousel-inner > .item > a > img,
  html body .carousel-inner > .item > img,
  html body .img-responsive,
  html body .thumbnail a > img,
  html body .thumbnail > img {
    max-height: 75%;
  }
  html body .carousel-inner > .item > a > img,
  html body .carousel-inner > .item > img,
  html body .img-responsive,
  html body .thumbnail a > img,
  html body .thumbnail > img {
    max-width: 86%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html body .fs_section:-webkit-full-screen .navbar .header .wrapper {
    width: 52%;
  }
  html body .fs_section:-webkit-full-screen .wrapper {
    height: 86.1%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel .carousel-control.left {
    left: 0%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel .carousel-control.right {
    right: 0%;
  }
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 90%;
  }
  html body .fs_section:-webkit-full-screen .slide-show {
    padding-left: 45px;
    height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-width: 100%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html body .fs_section:-webkit-full-screen .navbar .header .wrapper {
    width: 52%;
  }
  html body .fs_section:-webkit-full-screen .wrapper {
    height: 86.1%;
  }
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 90%;
  }
  html body .fs_section:-webkit-full-screen .slide-show {
    padding-left: 45px;
    height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-width: 100%;
  }
}
@media (min-width: 1399px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 91%;
  }
}
@media (min-width: 1910px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 94%;
  }
}
