/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 768px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 100%;
  }
  html body .carousel-inner > .item > a > img,
  html body .carousel-inner > .item > img,
  html body .img-responsive,
  html body .thumbnail a > img,
  html body .thumbnail > img {
    max-height: 75%;
  }
  html body .carousel-inner > .item > a > img,
  html body .carousel-inner > .item > img,
  html body .img-responsive,
  html body .thumbnail a > img,
  html body .thumbnail > img {
    max-width: 86%;
  }
}
@media (min-width: 768px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 100%;
  }
  html body .carousel-inner > .item > a > img,
  html body .carousel-inner > .item > img,
  html body .img-responsive,
  html body .thumbnail a > img,
  html body .thumbnail > img {
    max-height: 75%;
  }
  html body .carousel-inner > .item > a > img,
  html body .carousel-inner > .item > img,
  html body .img-responsive,
  html body .thumbnail a > img,
  html body .thumbnail > img {
    max-width: 86%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 90%;
  }
  html body .fs_section:-webkit-full-screen .slide-show {
    padding-left: 45px;
    height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-width: 100%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 90%;
  }
  html body .fs_section:-webkit-full-screen .slide-show {
    padding-left: 45px;
    height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-height: 100%;
  }
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > a > img,
  html body .fs_section:-webkit-full-screen .slide-show .carousel-inner > .item > img,
  html body .fs_section:-webkit-full-screen .slide-show .img-responsive,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail a > img,
  html body .fs_section:-webkit-full-screen .slide-show .thumbnail > img {
    max-width: 100%;
  }
}
@media (min-width: 1399px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 91%;
  }
}
@media (min-width: 1910px) {
  html body .fs_section:-webkit-full-screen .panel-wrapper .right-panel .main-block {
    width: 94%;
  }
}
