/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 768px) {
html {
  body {
    .fs_section:-webkit-full-screen {

      .wrapper {
          height: 100%;
          .panel-support-mobile {
            height: 23%;
            width: 100%;
            position: absolute;
            top: 78%;

            .inner {
              height: 23%;
              width: 100%;
              border-top: 1px solid #3d3d3d;
              background: #292929;
              z-index: 133;
              position: fixed;
              
            }
          }
      }
      .slide-show {
        .carousel {
          .carousel-control{
            &.left {
              left: 5%;
            }
            &.right {
              right: 5%;
            }
          }
        }
      }
      .panel-wrapper {
        .right-panel {
          .main-block {
            width: 100%;
          }
        }
      }

  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-height: 75%;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 86%;
  }
}
}
}
 }

// /* Small devices (tablets, 768px and up) */
 @media (min-width: 768px) {
html {
  body {
    .fs_section:-webkit-full-screen {
      .navbar {
        .header {
          .wrapper {
              width: 100%;
          }
        }
      }
      .wrapper {
          height: 91%;
          .panel-support-mobile {
            height: 23%;
            width: 100%;
            position: absolute;
            top: 77%;
            .inner {
              height: 10%;
              width: 100%;
              border-top: 1px solid #3d3d3d;
              background: #292929;
              z-index: 133;
              position: fixed;
            }
          }
      }
      .slide-show {
        .carousel {
          .carousel-control{
            &.left {
              left: 10%;
            }
            &.right {
              right: 10%;
            }
          }
        }
      }
      .panel-wrapper {
        .right-panel {
          .main-block {
            width: 100%;
          }
        }
      }
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
      max-height: 75%;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
      max-width: 86%;
    }

  }
}

 }
//
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    body {
      .fs_section:-webkit-full-screen {
        .navbar {
          .header {
            .wrapper {
                width: 52%;
            }
          }
        }
        .wrapper {
            height: 86.1%;
        }
        .slide-show {
          .carousel {
            .carousel-control{
              &.left {
                left: 0%;
              }
              &.right {
                right: 0%;
              }
            }
          }
        }
        .panel-wrapper {
          .right-panel {
            .main-block {
              width: 90%;
            }
          }
        }
        .slide-show {
            padding-left: 45px;
            height: 100%;
          .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
              max-height: 100%;
            }
          .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
            max-width: 100%;
          }
          .carousel {

          }

        }

      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    body {
      .fs_section:-webkit-full-screen {
        .navbar {
          .header {
            .wrapper {
                width: 52%;
            }
          }
        }
        .wrapper {
            height: 86.1%;
        }
        .panel-wrapper {
          .right-panel {
            .main-block {
              width: 90%;
            }
          }
        }
        .slide-show {
            padding-left: 45px;
            height: 100%;
            .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
                max-height: 100%;
              }
            .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
              max-width: 100%;
            }
          .carousel {
          }
        }
      }
    }
  }
}
@media (min-width: 1399px) { // for the panel to the right for larger screens
  html {
    body {
      .fs_section:-webkit-full-screen {
        .panel-wrapper {
          .right-panel {
            .main-block {
              width: 91%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1910px) { // for the panel to the right for larger screens
  html {
    body {
      .fs_section:-webkit-full-screen {
        .panel-wrapper {
          .right-panel {
            .main-block {
              width: 94%;
            }
          }
        }

      }
    }
  }
}
