@import "fonts.less";
@import "variables.less";
@import "sprite.less";
@import "media.less";



body {
  // orewrtite bootstrpap css start
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
  }

  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-height: 100%;
  }
  .carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    height: 100%;
  }
  // orewrtite bootstrpap css end

  .wrapper {
    max-width: 100%;
    margin: auto;
    position: relative;
  }

  .btn {
    border-radius: 0;
  }

  .carousel {
    display: none;
  }

  //MARK: стили для обычного режима
  .fs_section {
    .navbar {
      display: none;
    }

    .right-panel {
      display: none;
    }

    .main-photo {
      display: none;
    }
  }

  .fs_section:-webkit-full-screen  { // MARK: стили для full-screen
    width: 100%;
    height: 100%;
    background: @black-bg;
    overflow-y: auto;
    overflow-x: hidden;




    .btn-success {
      display: none;
    }

    .navbar {   // MARK: navbar for full-screen start
      margin-bottom: 0px;
      display: block;
      height: 9%;
      .wrapper {
        max-width: 100%;
        height: 100%;
              .header {
                background: @header-bg;
                margin: auto;
                width: 52%;
                height: 100%;
                font: normal 0.5em/1em AvenirNextLTPro-Bold;
              }

              .btn-close {
                position: absolute;
                right: 1.28571428571429%;
                top: 17.7777777777778%;
                width: 3.85714285714286%;
                height: 60%;
                min-width: 54px;
                min-height: 54px;
                background: url('../images/close-btn.png');
                background-size: contain;
                background-repeat: no-repeat;
                opacity: .5;
                z-index: 100;
              }
      }

    }     // MARK: navbar for full-screen end

    .wrapper {
      height: 86.1%;
      .row {
        height: 100%;

      }
    }

    .slide-show { // MARK: slide-show start
      background: @black-bg;

      .carousel {
        height: 100%;
        display: block;

        .carousel-inner {
          height: 100%;
        }


        .carousel-control {
          width: 57px;

          &.left {
            background: url('../images/left-arrow.png');
            background-repeat: no-repeat;
            background-position: center left;
          }

          &.right {
            background: url('../images/right-arrow.png');
            background-repeat: no-repeat;
            background-position: center right;
          }
        }
      }

    } // MARK: slide-show end
    .panel-wrapper {
      height: 100%;


    .right-panel { // MARK: right panel start
      background-color: @bottom-bg;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

    .main-block { // MARK: main-block start
      float: left!important;
      background-color: @panel-bg;
      width: 90%;
      height: 100%;
      position: relative;

      p {
        color: #ffffff;
      }
      span {
        color: #ffffff;
        font: normal 12px/30px AvenirNextLTPro-Regular;
        display: inline-block;
      }

      .thumb-block {
        position: absolute;
        top: 3.3%;
        left: 8%;
        right: 8%;
        height: 7.7%;

       .btn-thumb {
         display: inline-block;
         width: 30px;
         height: 30px;
         background-image: url('../images/thum_icon.png');
         background-position: center center;
         border-radius: 0;
         border: 0;
         background-color: transparent;
         margin-right: 10px;
         &:focus {
           outline: 0;
         }
        }
      }

        .text-block {
          border-bottom: 1px solid #1e1e1e;
          height: 62.7%;


        .first-text {
          font: 18px/22px AvenirNextLTPro-Bold;
          position: absolute;
          top: 9%;
          left: 8%;
          right:8%;

        }

        .second-text {
          font: 14px/22px AvenirNextLTPro-Regular;
          position: absolute;
          top: 16.6%;
          left: 8%;
          right:8%;
          max-height: 140px;
          overflow-y: auto;

        }

        .third-text {
          font: 11px/12px AvenirNextLTPro-Regular;
          position: absolute;
          top: 34.37%;
          left: 8%;
          right:8%;
        }
      }


    } // MARK: main-block end

    .social-block {   // MARK: social-block start
      list-style-type: none;
      display:block;
      cursor: pointer;
      padding-left: 0;
      float: right!important;

      li {
        padding-top: 82px;
        text-align: center;
        color: white;
        font: normal 10px/10px AvenirNextLTPro-Bold;
        margin-top: -2px;
      }

      .pin {
        margin-top: 0px;
        .sprite(@pin-panel);

      }

      .fb {
        .sprite(@fb-panel);

      }

      .tw {
        .sprite(@tw-panel);

      }

      .google {
        .sprite(@g-panel);

      }
    }   // MARK: social-block end

    .white-square-block { // MARK: white-square-block start
      border-top: 1px solid #4f4f4f;
      background-color: @panel-bg;
      height: 37.3549883990719%;
      padding: 0 8%;

      .square {
        background-color: white;
        height: 250px;
        font: 14px/250px AvenirNextLTPro-Bold;

      }

    } // MARK: white-square-block end

  }} // MARK: right panel end

  .footer { // MARK: footer start
      border-top: 1px solid #3d3d3d;

  } // MARK: footer end

  }

}
