@import "fonts.less";
@import "variables.less";
@import "sprite.less";



body {

  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
  }

  .btn {
        border-radius: 0;
  }

  font-family: AvenirNextLTPro-Bold;

  //MARK: стили для обычного режима

  .fs_section {
    .navbar {
      display: none;
    }

    .right-panel {
      display: none;
    }
  }

  .fs_section:-webkit-full-screen  { // MARK: стили для full-screen
    width: 100%;
    height: 100%;
    background: @black-bg;

    .btn-success {
      display: none;
    }

    .navbar {   // MARK: navbar for full-screen start
      margin-bottom: 0px;
      display: block;

        .btn-close {
          position: absolute;
          right: 15px;
          top: 16px;
          width: 54px;
          height: 54px;
          background-color: @close-btn-bg;
          opacity: 1;
        }

      .container {
        background: @header-bg;
        height: 90px;
        font: normal 14px/90px AvenirNextLTPro-Bold;
      }
    }     // MARK: navbar for full-screen end

    .right-panel { // MARK: right panel start
      background-color: @bottom-bg;
      height: 100px;
      display: block;
      width: 410px;
      height: 861px;
      border-bottom: 1px solid #3d3d3d;

    .text-block { // MARK: text-block start
      float: left!important;
      background-color: @panel-bg;
      padding: 25px 35px 0 35px;
      width: 372px;
      overflow-y: auto;
      height: 540px;
      border-bottom: 1px solid #1e1e1e;

       .btn-thumb {
         display: inline-block;
         width: 30px;
         height: 30px;
         background-image: url('../images/thum_icon.png');
         background-position: center center;
         border-radius: 0;
         border: 0;
         background-color: transparent;
         margin-right: 10px;
         &:focus {
           outline: 0;
         }
        }
        span {
          color: #ffffff;
          font: normal 12px/30px AvenirNextLTPro-Regular;
          display: inline-block;
        }
        p {
          color: #ffffff;
        }

        .first-text {
          font: 18px/22px AvenirNextLTPro-Bold;
          margin-top: 55px;
          margin-bottom: 25px;
        }

        .second-text {
          font: 14px/22px AvenirNextLTPro-Regular;
          margin-bottom: 25px;
        }

        .third-text {
          font: 11px/12px AvenirNextLTPro-Regular;
        }



    } // MARK: text-block end

    .social-block {   // MARK: social-block start
      list-style-type: none;
      display:block;
      cursor: pointer;
      padding-left: 0;
      float: right!important;

      li {
        padding-top: 82px;
        text-align: center;
        color: white;
        font: normal 10px/10px AvenirNextLTPro-Bold;
      }

      .pin {
        .sprite(@pin);
      }

      .fb {
        .sprite(@fb);
      }

      .tw {
        .sprite(@tw);
      }

      .google {
        .sprite(@google);
      }
    }   // MARK: social-block end

    .white-square-block { // MARK: white-square-block start
      border-top: 1px solid #4f4f4f;
      height: 320px;
      width: 372px;
      background-color: @panel-bg;
      margin-top: 540px;
      padding: 37px 35px 30px 35px;

      .square {
        background-color: white;
        height: 250px;
        font: 14px/250px AvenirNextLTPro-Bold;

      }

    } // MARK: white-square-block end

  } // MARK: right panel end

  }

}
